*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Chilanka', cursive;
	color: white;
	cursor: url('rocket_24.png'), auto;
	font-size: 1em;

}

body {
	background-image: url("background.png") ;
	background-size: cover;
	background-attachment: fixed;
}
body > #top img{
	position: fixed;
	left: 30px;
	height: 80px;
	width: 80px;
}
#top{
	height: 100%;
	padding-top: 30px;
	padding-left: 30px;
}
.wrapper {
	height: 20vh;
}
.sec { 
	width: 100vw;
	height : 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*.quadrado {
	width: 200px;
	height: 200px;
	animation: crescendo 10s alternate infinite ease-in;
  }
  
  @keyframes crescendo {
	0%   {transform: scale(.1);}
	100% {transform: scale(1.0);}
  }*/
html {
  scroll-behavior: smooth;
}
.background {
	position: fixed;
	right: 0;
	bottom: 0;
	height: 100vh;
	width: 100vw;
	z-index: -1000;
	
  }
.crewmate {
	height : 20vh;
	animation: rotateOnly 6s infinite linear;
}
@keyframes rotateOnly {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(359);
	}
}
/* #container {
	position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
} */
.crewmateContainer {
	width: 20vw;
	text-align: right;
	animation: rotation 50s infinite linear;
}


@keyframes reverseRotation {
	from {
			transform: rotate(360deg);
	}
	to {
			transform: rotate(0deg) ;
	}
}

@keyframes rotation {
	from {
			transform: rotate(0deg) ;
			transform-origin: top left;
	}
	to {
			transform: rotate(359deg);
			transform-origin: top left;
	}
}
a{
	text-decoration: none;
	display: block;
	width: 100%;

}

.sec > div > .quest{
	border-radius: 20px;
	text-align: center;
	width: 400px;
	padding: 15px 15px;
	margin: auto auto;
	background-color: transparent;
	color: yellow;
	font-weight: bold;
	font-size: 25px;
}
.sec > div > div:not(.quest){
	width: 400px;
	margin: auto auto;
	display: flex;
}
.sec > div > div > div:not(.ended){
	justify-content: space-between;
	display: inline-block;
	width: 200px;
	text-align: center;
}
.answer{
	border: none;
	margin-top: 25px;
}


.answer:not(:last-child){
	margin-right: 15px;
}

#abc{
	height: 200px;
	width: 500px;
	border: 1px solid black;
}
.ended{
	height: 300px;
	width: 400px;
	color: yellow !important;
}



