*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: url('./rocket_24.png'), auto;
}
body {
	background-image: url("background.png") ;
	background-size: cover;
	background-attachment: fixed;
	color : white;
			
}
.sec {
	width: 100vw;
	height : 100vh;
}
.quadrado {
	width: 200px;
	height: 200px;
	animation: crescendo 10s alternate infinite ease-in;
  }
  
  @keyframes crescendo {
	0%   {transform: scale(.1);}
	100% {transform: scale(1.0);}
  }